
.MainCont{
    position: relative;
    /* padding-top: 40px; */
    z-index: 1;
}
.dark .MainCont{
    margin-top: -60px;
}
.MainCont2 {
    display: flex;
    justify-content: space-around;
    /* background-color: #FCBF49; Background color */
    /* height: 78vh; */
    position: relative; /* Set position to relative */
    min-height: 60vh;
    margin-top: 40px;
 }
.dark .MainCont2 {
    position: absolute;
    /* z-index: 1; */
    top: -180px;
    display: flex;
    justify-content: space-around;
    /* background-color: #FCBF49; Background color */
    /* height: 78vh; */
    position: relative; /* Set position to relative */
    min-height: 60vh;
    margin-top: 0;
 }
 
 .MainCont::before {
    content: "";
    position: absolute; /* Set position to absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #eae2b7; */
    /* background-image: url(../../Assets/teo\ logo\ light\ backg.png);
    opacity: 0.7;  */
    z-index: -1; 
 }
 .dark .MainCont::before {
    /* background-image: url(../../Assets/teo\ logo\ dark\ backgr.png); */
    /* background-color: #003049; */
    background-color: #003049;
 }

 /* .download {
    background-color: #f6d1d1;
    border: 1.5px solid #003049;
    border-radius: 20%;
    padding: 8px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
   
  }
 .dark .download {
    background-color: #011a28;
    border: 1.5px solid #d62828;
  } */

/* 
  
  .leftDiv a {
    color: #011a28;
    text-decoration: none;
    font-size: large;
   
  }
 .dark .leftDiv a {
    color: #F77F00;
    text-decoration: none;
    font-size: large;
   
  }
  
  .download:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    background: #181826;
  } */

  a.download{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin-top: 40px;
    color: #003049;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 22px;
    overflow: hidden;
    border: 2px solid #FCBF49;
}

.dark a.download {
    color: #FCBF49;
    border-color: #D62828;
}

a.download:hover {
    background: #FCBF49;
    color: #050801;
    box-shadow: 0 0 5px #FCBF49, 0 0 25px #FCBF49, 0 0 50px #FCBF49, 0 0 200px #FCBF49;
    transform: scale(1.05);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/* ანიმაციის ნაწილები */
a.download span {
    position: absolute;
    display: block;
}

a.download span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #F77F00);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

a.download span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #F77F00);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

a.download span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #F77F00);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

a.download span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #F77F00);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

@media (max-width: 768px) {

.MainCont{
        position: relative;
        /* padding-top: 40px; */
        
  }
  a.download{
    position: relative;
    
  }
  .leftDiv{
    position: relative;
  }
  .dark .MainCont{
    margin-top: 0px;
}
.dark .MainCont2 {
    /* z-index: 1; */
    top: 40px;
    display: flex;
    justify-content: space-around;
    position: relative; 
    min-height: 60vh;
    margin-top: 0;
 }
}













.leftDiv  {
display: flex;
flex-direction: column;
justify-content: center;
/* margin-right: 200px; */
}
.leftDiv h1 {
    line-height: 50px;
    letter-spacing: 4px;
    color: #003049;
}
.leftDiv h3 {
    color: #003049;
}
.dark .leftDiv h1,
.dark .leftDiv h3 {
    color: #F77F00
}
.rightDiv {
display: flex;
flex-direction: column;
justify-content: center;
margin-right: 40px;
}
.rightDiv img {
    border: 1px solid #011a28;
    height: 300px;
    width: auto;
    /* height: 70%;
    width: 70%;
    border: 8px dotted #F77F00; */
    /* border: 2px solid rgb(158, 115, 13);  */
    /* box-shadow: 0px 0px 20px 5px;  */
    /* border: 10px solid rgba(0, 48, 73, 0.7);  */
    /* border-radius: 50%; */
    /* border-bottom: 10px solid rgba(0, 48, 73, 0.7) ; */
}
.dark .rightDiv img {
    border: 1px solid #d62828;

}

.footer {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background-color: initial;
}
.footer img {
    height: 70vh;
    width: 80%;
}
@media (max-width: 768px) {
    .MainCont{
        position: relative;
        padding-top: 40px;
    }
       .leftDiv{
        position: relative;
        z-index: 1;
       }
    
    .MainCont2 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    }
    .MainCont2 h1 {
    padding: 20px 0px 20px;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 5px;
    }
 
    .rightDiv img {
        margin-top: 60px;
    }
    


}