/* .MainCont {
   display: flex;
   justify-content: space-around;

   background-image: url(../../Assets/teo\ logo\ light\ backg.png);
   height: 78vh;
} */
.MainCont{
    position: relative;
    padding-top: 40px;
   
}
.MainCont2 {
    display: flex;
    justify-content: space-around;
    /* background-color: #FCBF49; Background color */
    /* height: 78vh; */
    position: relative; /* Set position to relative */
 }
 
 .MainCont::before {
    content: "";
    position: absolute; /* Set position to absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eae2b7;
    /* background-image: url(../../Assets/teo\ logo\ light\ backg.png);
    opacity: 0.7;  */
    z-index: -1; 
 }
 .dark .MainCont::before {
    /* background-image: url(../../Assets/teo\ logo\ dark\ backgr.png); */
    /* background-color: #003049; */
    background-color: #003049;
 }


.leftDiv  {
display: flex;
flex-direction: column;
justify-content: center;
/* margin-right: 200px; */
}
.leftDiv h1 {
    line-height: 50px;
    letter-spacing: 4px;
    color: #003049;
}
.leftDiv h3 {
    color: #003049;
}
.dark .leftDiv h1,
.dark .leftDiv h3 {
    color: #F77F00
}
.rightDiv {
display: flex;
flex-direction: column;
justify-content: center;
/* margin-right: 70px; */
}
.rightDiv img {
    height: 300px;
    width: 380px;
    /* border: 2px solid rgb(158, 115, 13); */
    /* box-shadow: 0px 3px 10px 5px; */
    /* border: 10px solid rgba(0, 48, 73, 0.7); */
    /* border-radius: 10%; */
    border-bottom: 10px solid rgba(0, 48, 73, 0.7) ;
}

.footer {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    background-color: initial;
}
.footer img {
    height: 70vh;
    width: 80%;
}
@media (max-width: 768px) {
    .MainCont2 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    }
    .MainCont2 h1 {
    padding: 20px 0px 20px;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 5px;
    }
 
    .rightDiv img {
        margin-top: 60px;
    }
    


}