#star {
    height: 70px;
    width: 70px;
    cursor: pointer;
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease; /* Smooth transition */
}

#star:hover {
    opacity: 1; /* Fully visible on hover */
}

/* .starsDiv {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr repeat(17, minmax(0, 1fr));
    grid-template-rows: 1fr repeat(auto-fit, minmax(0, 1fr)); 
    gap: 80px;
} */
.starsDiv {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 25vh;
    /* height: inherit; */
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr repeat(25, minmax(0, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(2, 1fr)) 1fr; /* Add a row at the bottom */
    gap: 5px;
}


.fallingStar {
    position: absolute;
    top: -50px; /* Initial position above the viewport */
    right: 0; /* Initial position aligned to the right */
    animation: fallingStarAnimation 5s linear forwards; /* Adjust the duration and timing function as needed */
}

@keyframes fallingStarAnimation {
    0% {
        transform: translate(0, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-300%, 100%);
        opacity: 0;
    }
}
@media (max-width: 768px) {
.starsDiv {
height: 30vh;
 max-width: 100%;
 grid-template-rows: repeat(auto-fit, minmax(3, 1fr)) 1fr; /* Add a row at the bottom */
 gap: 10px;
    }
    .fallingStar {
        top: 50px; /* Initial position above the viewport */
        right: -400px; /* Initial position aligned to the right */
     
    } 
}
