.skillsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80PX;
}

.skills {
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 70%;
  }
  /* #SK:hover,
  #SL:hover{
    cursor: context-menu;
    transform: none;
    transition: none;
  } */
  /* .skills :hover{
    cursor: pointer;
    transform: scale(1.09);
    transition: transform 0.7s ease;
  } */


  /* .skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 40px;
    border-bottom: 2px dotted #003049;
    border-radius: 20% 0px;
  } */
  /* .skill:hover{
    border-bottom: 4px dotted #003049;
    border-radius: 30% 0px;
  } */

  .skill:hover{
    border: 4px solid #003049;
    border-radius: 30% 0;
    border: 2px solid #F77F00;
    box-shadow: 0 0 5px #FCBF49, 
                    0 0 25px #F77F00, 
                    0 0 50px #F77F00, 
                    0 0 200px #FCBF49;
  }
  .dark .skill:hover{
    border-bottom: 4px solid #F77F00;
    border-radius: 30% 0px;
    border: 2px solid #F77F00;
    box-shadow: 0 0 5px #03e9f4, 
    0 0 25px #03e9f4, 
    0 0 50px #03e9f4, 
    0 0 200px #03e9f4;
  }
  .skill {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 0px;
    border-bottom: 2px solid #F77F00;
    border-radius: 20% 0px;
  }
  .dark .skill {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 0px;
    border-bottom: 2px dotted #F77F00;
    border-radius: 20% 0px;
  }
  
  .skill .iconSkills {
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 5vw;
  }
  
  .name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .level-indicator {
    display: flex;
  }
  
  .star {
    color: #f77f00;
    font-size: 1.5rem;
    margin-right: 5px;
  }
  
  .level-bar {
    width: 50vh;
    height: 10px;
    background-color: #e9cc93;
    border-radius: 5px;
  }
  
  .level-fill {
    height: 100%;
    background-color: #D62828;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 620px) {
    /* .skills {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8vw;
      width: 100%;
    } */
    .level-bar {
      width: 20vh;
  
    }  
.skills {
  width: 100%;
}
.skill {
  justify-content: space-between;
}
    
  }