.headerMainDiv {
    display: flex;
    justify-content: space-between;
    /* background-color: #fcb149; */
    /* background-color: #e9cc93; */
    background-color: #FCC0497E;
    color: rgb(80, 54, 7);
    /* text-shadow: 2px 1px 6px; */
    position: relative;
    border-bottom: 1px solid #011a28;
    }
    
    .light .headerMainDiv {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(90deg, #fcc049a2, #f780005e); /* ნარინჯისფერი გრადიენტი */
        color: #003049; /* ტექსტის მუქი ფერი */
        box-shadow: 0 0 5px #FCBF49, 
                    0 0 25px #F77F00, 
                    0 0 50px #F77F00, 
                    0 0 200px #FCBF49; /* ჩრდილების ეფექტი ღილაკიდან */
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); /* ანარეკლის ეფექტი */
        position: relative;
        border-bottom: 1px solid #FCBF49; /* ქვედა ბორდერი ღია ყვითელი */
        padding: 10px 20px;
        transition: all 0.5s ease; /* რბილი გადასვლა */
    }
    .dark .headerMainDiv {
        display: flex;
        justify-content: space-between;
        color: #003049; /* ტექსტის მუქი ფერი */
        box-shadow: 0 0 5px #03e9f4, 
        0 0 25px #03e9f4, 
        0 0 50px #03e9f4, 
        0 0 200px #03e9f4; /* ნეონის შუქის ეფექტი */
        position: relative;
        border-bottom: 1px solid #FCBF49; /* ქვედა ბორდერი ღია ყვითელი */
        padding: 10px 20px;
        transition: all 0.5s ease; /* რბილი გადასვლა */
    }

    .dark .headerMainDiv {
        background-color: #011a28;
        border-bottom: 1px solid #d62828;
    }

    .LogoCont
   {
        /* height: 40px; */
        width: 200px;
        margin: 0px 24px;
        display: flex;
        z-index: 2;
    }
    
    .logo {
        height: 80px;
        width: 200px;
        margin: 0px;
    }
   
    .LogoCont:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.2s ease;
    }
    .navbar {
        margin-top: 20px;
    }
.ThemeToggle {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
}


.lightStar{
height: 10px;
width: 10px;
}

@media (max-width: 768px) {
    .headerMainDiv {
     height: 16vh;
     justify-content: center;
    }
    .light .headerMainDiv {
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); /* ანარეკლის შემცირება */
        filter: none; /* ანარეკლის ეფექტი გაუქმდება */
    }
    .LogoCont
    {
         height: 40px;
         width: 100px;
         margin: 5vh 0px;
         display: flex;
         z-index: 2;
         /* display: flex;
         align-items: center;
         justify-content: center; */
     }
    .LogoCont img
    {
        height: 8vh;
        width: auto;
 
     }
}