.NavCont {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
  }
  
  .UlCont {
    display: grid;
    grid-auto-flow: column; 
    grid-gap: 40px; 
    list-style: none;
    z-index: 2;
  }
  .UlCont li a {
    text-decoration: none;
    color: #003049;
  }
  .dark .UlCont li a{
    color: #F77F00;
  }

  .UlCont li a:hover {
    color: #F77F00;
    color: #EAE2B7;
    color: #D62828;

  }
  .dark .UlCont li a:hover{
    color: #EAE2B7;
  }
  